<section class="top-letest-product-section">
  <div class="container">
    <div class="section-title">
      <h2>LATEST PRODUCTS</h2>
    </div>
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="product-item">
          <div class="pi-pic">
            <div class="tag-new">New</div>
            <img [src]="images[0]" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>$35,00</h6>
            <p>Black and White Stripes Dress</p>
          </div>
        </div>

        <div class="product-item">
          <div class="pi-pic">
            <img [src]="images[1]" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>$35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      </ng-template>

    </ngb-carousel>



    
  </div>
</section>